<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>{{ edicion ? 'Actualizar Usuarios' : 'Registro de Usuarios' }}</h1>
    </div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Id</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El codigo es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          El username es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          La contraseña es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          El email es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-radio-group
        aria-label="Estado"
        formControlName="enabled"
        [(ngModel)]="estado"
      >
        <mat-radio-button [value]="true">Activo</mat-radio-button>

        <mat-radio-button [value]="false">Inactivo</mat-radio-button>
      </mat-radio-group>
      <br />
      <button matButton="filled">Aceptar</button>
    </form>
  </div>
</div>
