<mat-toolbar class="custom-toolbar">  
 <div>
  <button mat-button [matMenuTriggerFor]="menuUsuarios" class="btn-rojo">
   <mat-icon>person</mat-icon>
   Usuarios
  </button>
 </div>

 <div>
  <button mat-button [matMenuTriggerFor]="menuNotificaciones" class="btn-rojo">
   <mat-icon>notification_important</mat-icon>
   Notificaciones
  </button>
 </div>

 <div>
  <button mat-button [matMenuTriggerFor]="menuSeguidos" class="btn-rojo">
   <mat-icon>group</mat-icon>
   Seguidos
  </button>
 </div>

 <div>
  <button mat-button [matMenuTriggerFor]="menuPublicaciones" class="btn-rojo">
   <mat-icon>article</mat-icon>
   Publicaciones
  </button>
 </div>

 <div>
  <button mat-button [matMenuTriggerFor]="menuPlaylistxusuario" class="btn-rojo">
   <mat-icon>queue_music</mat-icon>
   Playlist de Usuario
  </button>
 </div>

  <div>
  <button mat-button [matMenuTriggerFor]="menuSeguidores" class="btn-rojo">
   <mat-icon>queue_music</mat-icon>
   Seguidores de Usuario
  </button>
 </div>

</mat-toolbar>
<mat-menu #menuUsuarios="matMenu">
 <button mat-menu-item routerLink="/usuarios">Listar</button>
 <button mat-menu-item routerLink="/usuarios/insertareditar">Registrar</button>
</mat-menu>
<mat-menu #menuNotificaciones="matMenu">
 <button mat-menu-item routerLink="/notificaciones">Listar</button>
 <button mat-menu-item routerLink="/notificaciones/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuSeguidos="matMenu">
 <button mat-menu-item routerLink="/seguidos">Listar</button>
</mat-menu>
<mat-menu #menuPublicaciones="matMenu">
 <button mat-menu-item routerLink="/publicaciones">Listar</button>
</mat-menu>
<mat-menu #menuPlaylistxusuario="matMenu">
 <button mat-menu-item routerLink="/playlistsxusuario">Listar</button>
</mat-menu>
<mat-menu #menuSeguidores="matMenu">
 <button mat-menu-item routerLink="/seguidores">Listar</button>
  <button mat-menu-item routerLink="/seguidores/insertar">Registrar</button>

</mat-menu>