.container {
  position: relative;
  padding: 2rem;
  margin-top: 64px; 
  
  /* Separación desde la navbar roja */
}

/* Botón flotante arriba a la derecha */
.add-button-wrapper {
  color:#f4b66e;
  position: absolute;
  top: -2rem;
  right: 2rem;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}
.button-color{
  background-color: #f4b66e;
}

.add-button-text {
  opacity: 0;
  transform: translateX(-10px); /* ⬅ SE MUEVE DESDE LA IZQUIERDA */
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: #f4b66e;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
  pointer-events: none;
}

.add-button-text.visible {
  opacity: 1;
  transform: translateX(0); /* ⬅ SE POSICIONA NORMAL */
}


/* Contenedor de tarjetas */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  
  }

/* Tarjetas */
.notificacion-card {
  width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#fff9f2;  
}

/* Botones sin sombra */
.shadow-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.shadow-button:hover {
  box-shadow: none;
  transform: none;
}

/* Icono */
mat-icon {
  font-size: 20px;
}
