<div class="container">
  <!-- Botón + y texto animado -->
  <div
  class="add-button-wrapper"
  (mouseenter)="mostrarTexto = true"
  (mouseleave)="mostrarTexto = false"
>
  <span class="add-button-text" [class.visible]="mostrarTexto">
    Registrar notificación
  </span>

  <button
    mat-fab
    class="button-color"
    aria-label="Agregar Notificación"
    [routerLink]="['insertar']"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

  <!-- Título -->
  <div style="text-align: center; margin: 2rem 0">
    <h1>Lista de Notificaciones</h1>
  </div>

  <!-- Tarjetas -->
  <div class="cards-container">
    <mat-card
      *ngFor="let element of dataSource"
      class="notificacion-card mat-elevation-z4"
    >
      <mat-card-title>
        {{ element.tipoNotificacion }}
      </mat-card-title>

      <mat-card-content>
        <p><b>ID:</b> {{ element.idNotificacion }}</p>
        <p><b>Mensaje:</b> {{ element.mensajeNotificacion }}</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-icon-button
          color="black"
          class="edit-button shadow-button"
          [routerLink]="['ediciones', element.idNotificacion]"
          matTooltip="Editar"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="black"
          class="edit-button shadow-button"
          (click)="eliminar(element.idNotificacion)"
          matTooltip="Eliminar"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
